<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>로그인</title>
</head>
<body>
<h2>로그인</h2>
<a th:href="@{/register}">회원가입</a>
<p th:if="${param.error}">로그인 실패</p>
<form th:action="@{/login}" method="post">
    <input name="username" required autofocus><br>
    <input type="password" name="password" required >
    <button>로그인</button>
</form>
</body>
</html>